<form  name="deleteForm" >
    <div class="modal-header">
      <h4 class="modal-title" data-cy="userProfileDeleteDialogHeading">Confirm delete operation</h4>
  
      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
  
    <div class="modal-body">
       <p id="jhi-delete-userProfile-heading">Are you sure you want to delete Doctor {{id}}?</p>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        &nbsp;<span>Cancel</span>
      </button>
  
      <button id="jhi-confirm-delete-userProfile" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger" (click)="confirmDelete()">
        <span>Delete</span>
      </button>
    </div>
  </form>
  