<div class="row justify-content-center">
  <div class="col-10">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <h2 id="jhi-user-profile-heading">Create or edit a Patient Profile</h2>

      <div>
        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            formControlName="id"
            readonly
          />
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-label" for="field_username"
              >Username</label
            >
            <input
              type="text"
              class="form-control"
              name="username"
              id="field_username"
              formControlName="username"
            />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_designation"
                >Designation</label
              >
              <select
                class="form-control"
                name="designation"
                formControlName="designation"
                id="field_designation"
              >
                <option value="MR">Mr</option>
                <option value="MS">Ms</option>
                <option value="MRS">Mrs</option>
                <option value="MISS">Miss</option>
                <option value="MASTER">Master</option>
                <option value="DR">Dr</option>
                <option value="REV_BRO">Rev_Bro</option>
                <option value="REV_SISTER">Rev_Sister</option>
                <option value="REV">Rev</option>
                <option value="HON">Hon</option>
                <option value="BABY">Baby</option>
                <option value="BABY_OF">Baby of</option>
                <option value="DOG">Dog</option>
                <option value="CAT">Cat</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_firstName"
                >First Name</label
              >
              <input
                type="text"
                class="form-control"
                name="firstName"
                id="field_firstName"
                formControlName="firstName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_lastName"
                >Last Name</label
              >
              <input
                type="text"
                class="form-control"
                name="lastName"
                id="field_lastName"
                formControlName="lastName"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <div class="form-group">
              <label class="form-control-label" for="field_gender"
                >Gender (sex)</label
              >
              <select
                class="form-control"
                name="gender"
                formControlName="gender"
                id="field_gender"
              >
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                <option value="RATHER_NOT_SAY">RATHER_NOT_SAY</option>
                <option value="MTF">MTF</option>
                <option value="FTM">FTM</option>
                <option value="NOT_SURE">NOT_SURE</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="form-control-label" for="field_nic">Nic</label>
              <input
                type="text"
                class="form-control"
                name="nic"
                id="field_nic"
                formControlName="nic"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_email">Email</label>
              <input
                type="text"
                class="form-control"
                name="email"
                id="field_email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_phoneNum"
                >Phone Number</label
              >
              <input
                type="text"
                class="form-control"
                name="phoneNum"
                id="field_phoneNum"
                formControlName="phoneNum"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_height"
                >Height</label
              >
              <input
                type="text"
                class="form-control"
                name="height"
                id="field_height"
                formControlName="height"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_weight"
                >Weight</label
              >
              <input
                type="test"
                class="form-control"
                name="weight"
                id="field_weight"
                formControlName="weight"
              />
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label" for="field_dob">Dob</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [(ngModel)]="model"
                  [ngModelOptions]="{standalone: true}"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                >
                  <fa-icon [icon]="faCalender"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label class="form-control-label" for="field_age">Age</label>
              <input
                type="text"
                class="form-control"
                name="age"
                id="field_age"
                formControlName="age"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label" for="field_address"
                >Address</label
              >
              <input
                type="text"
                class="form-control"
                name="address"
                id="field_address"
                formControlName="address"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_city">City</label>
              <input
                type="text"
                class="form-control"
                name="city"
                id="field_city"
                formControlName="city"
              />
            </div>
          </div>
        </div>

 
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label class="form-control-label" for="field_maritalStatus"
                >Marital Status</label
              >
              <select
                class="form-control"
                name="maritalStatus"
                formControlName="maritalStatus"
                id="field_maritalStatus"
              >
                <option value="MARRIED">MARRIED</option>
                <option value="NOT MARRIED">NOT MARRIED</option>
              </select>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label class="form-control-label" for="field_registeredDate"
                >Registered Date</label
              >
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="modelR"
                  ngbDatepicker
                  #r="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="r.toggle()"
                  type="button"
                >
                  <fa-icon [icon]="faCalender"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label" for="field_password"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                id="field_password"
                formControlName="password"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <br />
        <button
          type="button"
          id="cancel-save"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          Cancel
        </button>
        &nbsp;&nbsp;
        <button
          type="submit"
          id="save-entity"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isSuccessful" class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Registration</strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Registration successful! Thank you for signing up.
    </div>
  </div>
</div>
