<div class="body">
    <div class="page" style="display: flex; flex-direction: column">
      <!-- <div style="text-align: center; width: 100%;" class="headerline"><span class="solid">Roy Opticals - </span><span class="cursive">Qualified Opticians</span> </div> -->
      <header>
        <!-- <h1 style="text-align: center;">Roy Opticals - <h6>Qualified Opticians</h6></h1> -->
        <div class="row">
          <div class="row">
            <div class="col-2">
              <img src="/assets/logo/black-transparent.png" style=" width: 100%; float: center; margin-top: 30px;" />
            </div>
            <div class="col-10">
              <!-- Negombo Head Office -->
              <h1 style="text-align: left; padding-left: 0px; font-weight: bold; font-size: 18px; letter-spacing: 4px; padding-bottom: 15px">
                HEALTH&nbsp;TRACK&nbsp;(PVT) LTD
              </h1>
              <p style="font-weight: 600; padding-left: 0px; font-size: 12px">123 Anywhere St. Any City</p>
              <div class="col-12 row" style="padding-top: 2px; font-size: 13px">
                <div class="col">
                  <p>Email: healthtracksl&#64;gmail.com</p>
                  <p>Web: www.healthtracksl.com</p>
                </div>
                <div class="col">
                  <p>&nbsp;Tel: +123-456-7890</p>
                  <p>&nbsp;FB: fb.com/healthtrack</p>
                </div>
  
                <!-- <div class="address" style="font-weight: 500;float: left; padding-left: 20px;font-size: 12px;">
                                          <p>E-mail: info@metrolabandclinic.com</p>
                                          <p>Web: www.metrolabandclinic.com </p>
                                  </div>
                                  <div  style="font-weight:500;float: right;font-size: 12px; ">
                                       <p>Tel: 031 2280573/031 2237878 </p>
                                          <p>FB: fb.com/metrolabandclinic</p>
                                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </header>
  
      <div>
        <!-- <h1 style="font-weight: bold; text-align: center; font-size: 17px; margin-top: 10px" *ngIf="!testInvoice.ecg">Patient Receipts</h1> -->
        <h1 style="font-weight: bold; text-align: center; font-size: 17px; margin-top: 10px">Patient Receipts</h1>
        <!-- <h1 style="font-weight: bold; text-align: center; font-size: 17px; margin-top: 10px" *ngIf="testInvoice.ecg">ECG Receipt</h1> -->
       </div>
  
      <div class="row">
        <div class="col-7" style="padding-top: 10px; font-weight: 400; line-height: 20px; font-size: 15px; font-weight: bold">
          <p>
            Patient ID<span style="padding-left: 29px">:   1  </span>
          </p>
          <p>
            Patient Name<span style="padding-left: 5px">:   MS. Sachini Madushika </span>
          </p>
          <p>
            Age/Gender<span style="padding-left: 16px">:   27 YEARS   /   FEMALE   </span>
          </p>
          <p>
            Telephone<span style="padding-left: 25px">:   0767654324  </span>
          </p>
         
        
        </div>
        <div class="col" style="padding-top: 15px; font-weight: 400; line-height: 20px; font-size: 15px; font-weight: bold">
          <p>
            Ref. No<span style="padding-left: 27px">:   1  </span>
          </p>
          <p>
            Date/Time<span style="padding-left: 5px"
              >:   16/03/2024 21:13 </span
            >
          </p>
          <p>Dept<span style="padding-left: 42px">: Labarotary</span></p>
          <p>
            Doctor<span style="padding-left: 28px">:   Dr  .   Liyora   </span>
          </p>
        </div>
      </div>
  
      <div style="margin-top: 2px; padding-right: 20px">
        <table style="width: 100%">
          <colgroup>
            <col span="1" style="width: 8%" />
            <col span="1" style="width: 70%" />
            <col span="1" style="width: 22%" />
          </colgroup>
          <tbody>
            <tr>
              <td style="font-weight: bold">NO</td>
              <td style="font-weight: bold">DESCRIPTION</td>
              <td style="font-weight: bold; text-align: left">AMOUNT (RS)</td>
            </tr>
            <tr style="font-size: 14px; text-align: right; line-height: 8px">
              <td style="text-align: center">01</td>
              <td>  Alkaline  </td>
              <td style="text-align: right">  2000.00  </td>
            </tr>
            <tr style="font-size: 14px; text-align: right; line-height: 8px">
              <td style="text-align: center">02</td>
              <td>    </td>
              <td style="text-align: right">    </td>
            </tr>
            <tr style="font-size: 14px; text-align: right; line-height: 8px">
              <td style="text-align: center">03</td>
              <td>     </td>
              <td style="text-align: right">    </td>
            </tr>
  
            <tr style="font-size: 14px; text-align: right; line-height: 8px">
              <td style="text-align: center">04</td>
              <td>    </td>
              <td style="text-align: right">    </td>
            </tr>
  
            <tr style="font-size: 14px; text-align: right; line-height: 8px">
              <td style="text-align: center">05</td>
              <td>     </td>
              <td style="text-align: right">    </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div style="position: absolute; margin-top: 75%; padding-right: 20px; height: 100%">
        <table style="width: 100%; padding-bottom: 100%">
          <colgroup>
            <!-- <col span="1" style="width: 11.5%"> -->
            <col span="1" style="width: 78%" />
            <!--    <col span="1"
                       style="width: 10%"> -->
            <col span="1" />
          </colgroup>
          <tbody style="width: 100%">
            <!-- <tr style="height: 35px;">
                           <td style="font-size: 20px; text-align: center"> invoice.balance </td>
  
                       </tr> -->
  
            <tr style="height: 15px; width: 100%">
              <td rowspan="5">
                <div style="float: left">
                  <br />
                  <br />
                  <br />
                  <!-- <p style="margin-left: 18px;">Signature</p> -->
                </div>
                <!-- <div style="height: 100%;vertical-align: middle; position: relative;">
  
                                   <p style="position: absolute; font-style: italic; font-weight: bold; text-align: center; vertical-align: middle; width: 100%; margin-top: 28px; ">
                                       Thank You Very Much, Come again</p>
                               </div> -->
  
                <div style="float: right; margin-top: 0px; font-size: 14px">
                  <p>BILL AMOUNT <span style="float: right"> (RS)</span></p>
                  <p>DISCOUNT</p>
                  <p>TOTAL AMOUNT <span style="float: right"> (RS)</span></p>
                  <p style="font-weight: bold">PAID AMOUNT <span style="float: right"> (RS)</span></p>
                  <p>DUE AMOUNT <span style="float: right"> (RS)</span></p>
                </div>
              </td>
              <td style="font-size: 14px; text-align: right; padding: 0; padding-right: 5px">
                  1000.00
              </td>
            </tr>
            <tr style="height: 15px">
              <td style="font-size: 14px; text-align: right; padding: 0; padding-right: 5px">
                  <!-- testInvoice.discount  <span *ngIf="testInvoice.discount">%</span> -->
                  10  <span >%</span>
              </td>
            </tr>
            <tr style="height: 15px">
              <td style="font-size: 14px; text-align: right; padding: 0; padding-right: 5px">
                  1900  
              </td>
            </tr>
            <tr style="height: 15px">
              <td style="font-size: 14px; text-align: right; padding: 0; padding-right: 5px">
                  2000
              </td>
            </tr>
            <tr style="height: 15px">
              <td style="font-size: 14px; text-align: right; padding: 0; padding-right: 5px">
                  100 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    
    </div>
  </div>
  