<app-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>

<div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
  <div class="m-5 card border-0 shadow-lg p-5">
    <h2 id="page-heading" data-cy="DoctorHeading">
      <span>Doctors</span>

      <div class="d-flex justify-content-end">
        <button data-cy="entityCreateButton" class="btn btn-primary" [routerLink]="['create']">
          <span class="hidden-sm-down">Create a new Doctor</span>
        </button>
      </div>
    </h2>


    <div class="alert alert-warning" id="no-result" *ngIf="doctors?.length === 0">
      <span>No Doctors found</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="doctors && doctors.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col">
              <div class="d-flex">
                <span>ID</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="designation">
              <div class="d-flex">
                <span>Designation</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="consultantTitle">
              <div class="d-flex">
                <span>Doctor Title</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="consultantFees">
              <div class="d-flex">
                <span>Doctor Fees</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="hospitalFees">
              <div class="d-flex">
                <span>Hospital Fees</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span>Position</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactNumber">
              <div class="d-flex">
                <span>Contact Number</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactNumber1">
              <div class="d-flex">
                <span>Alternate Contact Number</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="remark">
              <div class="d-flex">
                <span>Remark</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors;" data-cy="entityTable">
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.designation }}</td>
            <td>{{ doctor.consultantTitle }}</td>
            <td>{{ doctor.consultantFees }}</td>
            <td>{{ doctor.hospitalFees }}</td>
            <td>{{ doctor.position }}</td>
            <td>{{ doctor.contactNumber }}</td>
            <td>{{ doctor.contactNumber1 }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{ doctor.remark }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button type="submit" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <span class="d-none d-md-inline">View</span>
                </button>
                <button type="submit" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <span class="d-none d-md-inline" [routerLink]="[doctor.id]">Edit</span>
                </button>
                <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                (click)="delete(doctor.id)"

                >
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
