<div class="row justify-content-center" style="margin: 30px">
  <div class="col-12">
    <div class="card border-0 shadow-lg mt-5 p-5">
      <form
        name="editForm"
        role="form"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="editForm"
      >
        <h2 id="jhi-lab-test-invoice-heading" style="padding: 30px">
          Create or edit Lab Test Invoice
        </h2>

        <div>
          <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id">ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              formControlName="id"
              readonly
            />
          </div>
          <div class="form-group col">
            <label class="form-control-label" for="field_dateCreated"
              >Date Created</label
            >
            <div class="d-flex">
              <input
                id="field_dateCreated"
                type="datetime-local"
                class="form-control"
                name="dateCreated"
                formControlName="dateCreated"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
          <div formGroupName="appointment">
            <div class="row">
              <div class="form-group col">
                <label class="form-control-label" for="field_name"
                  >Appointment Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="field_name"
                  formControlName="name"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_id"
                  >Appointment ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="id"
                  id="field_id"
                  formControlName="id"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_appointmentDate"
                  >Appointment Date</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="appointmentDate"
                  id="field_appointmentDate"
                  formControlName="appointmentDate"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_startTime"
                  >Start Time</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="startTime"
                  id="field_startTime"
                  formControlName="startTime"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_endTime"
                  >End Time</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="endTime"
                  id="field_endTime"
                  formControlName="endTime"
                />
              </div>
            </div>

            <div formGroupName="user" class="row" #scrollToTop>
              <div>
                <div>
                  <div class="row align-items-end">
                    <div class="form-group col-2">
                      <label class="form-control-label" for="field_id">
                        Patient ID</label
                      >
                      <input
                        style="background-color: rgb(226, 190, 226)"
                        type="text"
                        class="form-control"
                        name="id"
                        id="field_id"
                        formControlName="id"
                      />
                    </div>

                    <div class="col">
                      <label class="form-control-label" for="field_firstName">
                        Patient First Name</label
                      >
                      <input
                        style="background-color: rgb(226, 190, 226)"
                        type="text"
                        class="form-control"
                        name="firstName"
                        id="field_firstName"
                        formControlName="firstName"
                      />
                    </div>

                    <div class="col">
                      <label class="form-control-label" for="field_lastName">
                        Patient Last Name</label
                      >
                      <input
                        style="background-color: rgb(226, 190, 226)"
                        type="text"
                        class="form-control"
                        name="lastName"
                        id="field_lastName"
                        formControlName="lastName"
                      />
                    </div>

                    <div class="col">
                      <label class="form-control-label" for="field_email">
                        Patient email</label
                      >
                      <input
                        style="background-color: rgb(226, 190, 226)"
                        type="text"
                        class="form-control"
                        name="email"
                        id="field_email"
                        formControlName="email"
                      />
                    </div>

                    <div class="col">
                      <label class="form-control-label" for="field_phoneNum">
                        Patient Phone Number</label
                      >
                      <input
                        style="background-color: rgb(226, 190, 226)"
                        type="text"
                        class="form-control"
                        name="phoneNum"
                        id="field_phoneNum"
                        formControlName="phoneNum"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div formGroupName="doctor" class="row">
              <div class="form-group col-2">
                <label class="form-control-label" for="field_id"
                  >Doctor Id</label
                >
                <input
                  type="text"
                  readonly
                  class="form-control"
                  required
                  name="id"
                  id="field_id"
                  formControlName="id"
                />
              </div>
              <div class="form-group col">
                <label class="form-control-label" for="field_designation"
                  >Designation</label
                >
                <input
                  type="text"
                  readonly
                  class="form-control"
                  name="designation"
                  id="field_designation"
                  formControlName="designation"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_name"
                  >Doctor Name
                </label>
                <input
                  required
                  type="text"
                  class="form-control"
                  name="name"
                  id="field_name"
                  formControlName="name"
                />
              </div>

              <div class="form-group col-2">
                <label class="form-control-label" for="field_id"
                  >Position</label
                >
                <input
                  type="text"
                  readonly
                  class="form-control"
                  required
                  name="id"
                  id="field_id"
                  formControlName="id"
                />
              </div>
            </div>

            <div formGroupName="labTechnician" class="row">
              <div class="form-group col">
                <label class="form-control-label" for="field_id"
                  >Lab Technician ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="id"
                  id="field_id"
                  formControlName="id"
                />
              </div>

              <div class="form-group col">
                <label class="form-control-label" for="field_name"
                  >Lab Technician name</label
                >
                <input
                  type="number"
                  class="form-control"
                  name="name"
                  id="field_name"
                  formControlName="name"
                />
              </div>
            </div>

            <hr />
            <div class="row" formArrayName="labTests">
            <!-- <ng-container *ngFor="let labTest of editForm.get('appointment.labTests').controls; let i = index" [formGroupName]="i"> -->
              <div class="row"
              >
              <div class="form-group col-3">
                <label class="form-control-label" for="field_id"
                  >Test ID 1 :
                </label>
                <input
                  type="text"
                  list="des1"
                  class="form-control"
                  name="id"
                  id="field_id"
                  formControlName="id"
                  style="background-color: lightblue; font-weight: bold"
                />
                
              </div>
               <div class="form-group col">
                <label class="form-control-label" for="field_testName"
                  >Test Name :
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="testName"
                  id="field_testName"
                  formControlName="testName"
                  style="background-color: lightblue; font-weight: bold"
                />
              </div>
  
               <div class="form-group col">
                <label class="form-control-label" for="field_testShortName"
                  >Test Short Name :
                </label>
                <input
                  type="text"
                  class="form-control"
                  style="background-color: lightblue; font-weight: bold"
                  name="testShortName"
                  id="field_testShortName"
                />
                
              </div>
  
              <div class="form-group col">
                <label class="form-control-label" for="field_testNo"
                  >Test Number :
                </label>
                <input
                  type="text"
                  class="form-control"
                  style="background-color: lightblue; font-weight: bold"
                  name="testNo"
                  id="field_testNo"
                />
                
              </div>
  
               <div class="form-group col">
                <label class="form-control-label" for="field_amount"
                  >Amount  :
                </label>
                <input
                  type="number"
                  class="form-control"
                  name="amount"
                  id="field_amount"
                  formControlName="amount"
                />
              </div>
  
                </div>
            <!-- </ng-container> -->
             

            </div>

            <div class="row" formArrayName="labTests">
              <!-- <ng-container *ngFor="let labTest of editForm.get('appointment.labTests').controls; let i = index" [formGroupName]="i"> -->
                <div class="row"
                >
                <div class="form-group col-3">
                  <label class="form-control-label" for="field_id"
                    >Test ID 1 :
                  </label>
                  <input
                    type="text"
                    list="des1"
                    class="form-control"
                    name="id"
                    id="field_id"
                    formControlName="id"
                    style="background-color: lightblue; font-weight: bold"
                  />
                  
                </div>
                 <div class="form-group col">
                  <label class="form-control-label" for="field_testName"
                    >Test Name :
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    name="testName"
                    id="field_testName"
                    formControlName="testName"
                    style="background-color: lightblue; font-weight: bold"
                  />
                </div>
    
                 <div class="form-group col">
                  <label class="form-control-label" for="field_testShortName"
                    >Test Short Name :
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    style="background-color: lightblue; font-weight: bold"
                    name="testShortName"
                    id="field_testShortName"
                  />
                  
                </div>
    
                <div class="form-group col">
                  <label class="form-control-label" for="field_testNo"
                    >Test Number :
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    style="background-color: lightblue; font-weight: bold"
                    name="testNo"
                    id="field_testNo"
                  />
                  
                </div>
    
                 <div class="form-group col">
                  <label class="form-control-label" for="field_amount"
                    >Amount  :
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    name="amount"
                    id="field_amount"
                    formControlName="amount"
                  />
                </div>
    
                  </div>
              <!-- </ng-container> -->
               
  
              </div>

             <hr />
          </div>

          <div class="row">
            <div class="form-group col-6">
              <label class="form-control-label" for="field_billAmmount"
                >Bill Amount</label
              >
              <input
                type="number"
                class="form-control"
                name="billAmmount"
                id="field_billAmmount"
                formControlName="billAmmount"
              />
            </div>

            <div class="form-group col-6">
              <label class="form-control-label" for="field_discount"
                >Discount</label
              >
              <input
                type="number"
                list="discountlist"
                class="form-control"
                name="discount"
                id="field_discount"
                formControlName="discount"
              />

              <datalist id="discountlist">
                <option value="0">0% off</option>
                <option value="5">5% off</option>
                <option value="10">10% off</option>
                <option value="15">15% off</option>
                <option value="20">20% off</option>
                <option value="25">25% off</option>
                <option value="30">30% off</option>
                <option value="100">100% off</option>
              </datalist>
            </div>

            <div class="form-group col-6">
              <label class="form-control-label" for="field_totalAmount"
                >Total Amount</label
              >
              <input
                readonly
                type="number"
                class="form-control"
                name="totalAmount"
                id="field_totalAmount"
                formControlName="totalAmount"
              />
            </div>

            <div class="form-group col-6">
              <label class="form-control-label" for="field_paidAmount"
                >Paid Amount</label
              >
              <input
                type="number"
                class="form-control"
                name="paidAmount"
                id="field_paidAmount"
                formControlName="paidAmount"
              />
            </div>

            <div class="form-group col-6">
              <label class="form-control-label" for="field_dueAmount"
                >Due Amount</label
              >
              <input
                readonly
                type="number"
                class="form-control"
                name="dueAmount"
                id="field_dueAmount"
                formControlName="dueAmount"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_remarks"
              >Remarks</label
            >
            <input
              type="text"
              class="form-control"
              name="remarks"
              id="field_remarks"
              formControlName="remarks"
            />
          </div>
        </div>

        <div>
          <button
            type="button"
            id="cancel-save"
            class="btn btn-secondary"
            (click)="previousState()"
          >
            &nbsp;<span>Cancel</span>
          </button>

          <button
            type="submit"
            #saveRow
            id="save-entity"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            &nbsp;<span>Save</span>
          </button>
        </div>
      </form>
    </div>

    <br /><br />
  </div>
</div>
