.custom-snackbar {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
  }