<app-sidebar
  [isExpanded]="sidebarExpanded"
  (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
></app-sidebar>

<div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">

<div class="m-5">
    <h2 id="page-heading" data-cy="LabTestsHeading">
      <span>Lab Tests</span>
  
      <div class="d-flex justify-content-end">
       
  
        <button
          data-cy="entityCreateButton"
          class="btn btn-primary"
          [routerLink]="['/admin/lab-tests/new']"
        >
           <span class="hidden-sm-down"> Create a new Lab Tests </span>
        </button>
      </div>
    </h2>
  
   
   
    <form name="searchForm" class="row row-cols-sm-auto align-items-center">
      <div class="col-sm-12">
        <!-- <div class="input-group w-100 mt-3">
          <label class="visually-hidden" for="currentSearch">Search for Lab Tests</label>
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />
  
          <button class="btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>
  
          <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div> -->
      </div>
    </form>
  
    <!-- <div class="alert alert-warning" id="no-result" *ngIf="labTests?.length === 0">
      <span>No Lab Tests found</span>
    </div> -->
  
    <!-- <div class="table-responsive table-entities" id="entities" *ngIf="labTests && labTests.length > 0"> -->
    <div class="table-responsive table-entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col" >
              <div class="d-flex">
                <span>ID</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="testName">
              <div class="d-flex">
                <span>Test Name</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="testShortName">
              <div class="d-flex">
                <span>Test Short Name</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="testNo">
              <div class="d-flex">
                <span>Test No</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="doneById">
              <div class="d-flex">
                <span>Done By Id</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="doneByName">
              <div class="d-flex">
                <span>Done By Name</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="inHouse">
              <div class="d-flex">
                <span>In House</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="finalAmount">
              <div class="d-flex">
                <span>Final Amount</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span>Amount</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="deliveryPossibleWithinNext">
              <div class="d-flex">
                <span>Delivery Possible Within Next</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="remarks">
              <div class="d-flex">
                <span>Remarks</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="percentage">
              <div class="d-flex">
                <span>Percentage</span>
               </div>
            </th>
            <th scope="col" jhiSortBy="discount">
              <div class="d-flex">
                <span>Discount</span>
               </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let labTests of labTests; trackBy: trackId" data-cy="entityTable"> -->
          <tr>
            <td>
              id
              <!-- <a [routerLink]="['/lab-tests', labTests.id, 'view']">{{ labTests.id }}</a> -->
            </td>
            <td> labTests.testName </td>
            <td>  labTests.testShortName  </td>
            <td>  labTests.testNo  </td>
            <td>  labTests.doneById  </td>
            <td>  labTests.doneByName  </td>
            <td>  labTests.inHouse  </td>
            <td>  labTests.finalAmount  </td>
            <td>  labTests.amount  </td>
            <td>  labTests.deliveryPossibleWithinNext  </td>
            <td>  labTests.remarks  </td>
            <td>  labTests.percentage  </td>
            <td>  labTests.discount  </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                  >
                  <!-- [routerLink]="['/lab-tests', labTests.id, 'view']" -->
                   <span class="d-none d-md-inline">View</span>
                </button>
  
                <button
                  type="submit"
                  [routerLink]="['/lab-tests']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                   <span class="d-none d-md-inline">Edit</span>
                </button>
  
                <button type="submit" (click)="delete()" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                   <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    
  </div>
 </div> 