<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="content">
    <div class="toggle" (click)="handleSidebarToggle()">
      <!-- <span class="chevron"></span> -->
      <fa-icon [icon]="fabars" class="custom-icon"></fa-icon>
    </div>
  </div>
  <img src="/assets/logo/logo.png" class="img-fluid" />

  <div class="content">
    <div *ngIf="role === 'ROLE_ADMIN'" class="link">
      <div
        class="content"
        [routerLink]="['/admin/dashboard']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <fa-icon [icon]="fahome" class="custom-icon"></fa-icon>
        </div>
        <div class="title">Dashboard</div>
      </div>
    </div>

    <div *ngIf="role === 'ROLE_USER'" class="link">
      <div
        class="content"
        [routerLink]="['/patient/patient-dashboard']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <fa-icon [icon]="faHomeUser" class="custom-icon"></fa-icon>
        </div>
        <div class="title">Patients Dashboard</div>
      </div>
    </div>
    <div class="link">
      <div
        class="content"
        [routerLink]="['/admin/lab-test-menu']"
        [routerLinkActive]="'active'"
      >
        <div class="icon">
          <fa-icon [icon]="faFileLines" class="custom-icon"></fa-icon>
        </div>
        <div class="title">Lab Tests Menu</div>
      </div>
    </div>
    <div
      *ngIf="role === 'ROLE_ADMIN'"
      class="link with-children"
      [routerLinkActive]="'active'"
    >
      <div class="content" (click)="toggleEntities()">
        <div class="icon">
          <fa-icon [icon]="fafaRectangleList" class="custom-icon"></fa-icon>
        </div>
        <div class="title">Entities</div>
      </div>

      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/patient']"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faHospitalUser" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Patients</div>
          </div>
        </div>
      </div>

      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/doctor']"
            [queryParams]="{ child: '1' }"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faUserDoctor" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Doctor</div>
          </div>
        </div>
      </div>
      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/technician']"
            [queryParams]="{ child: '1' }"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faUserNurse" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Lab Technician</div>
          </div>
        </div>
      </div>

      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/lab-tests']"
            [queryParams]="{ child: '1' }"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faFlaskVial" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Lab Tests</div>
          </div>
        </div>
      </div>

      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/appointment']"
            [queryParams]="{ child: '1' }"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faCalendarCheck" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Appointment</div>
          </div>
        </div>
      </div>

      <div class="children" *ngIf="showEntities">
        <div class="link">
          <div
            class="content"
            [routerLink]="['/admin/lab-tests-invoice']"
            [queryParams]="{ child: '1' }"
            [routerLinkActive]="'active'"
          >
            <div class="icon">
              <fa-icon [icon]="faFileInvoiceDollar" class="custom-icon"></fa-icon>
            </div>
            <div class="title">Lab Tests Invoice</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr
    style="height: 2px; border-width: 0; color: gray; background-color: gray"
  />
  <div class="footer" style="padding: 30px; justify-content: end">
    <div class="row justify-content-center">
      <button type="button" class="btn btn-light" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</div>
